# Seminar: Lists, dictionaries, functions, exceptions

### Task 0. 
Write a loop which will add "_adj" to the each element of the list:
["close", "open", "high", "high"]

In [3]:
my_list = ["close", "open", "high", "high"]

In [4]:
for item in my_list:
    print(item+"_adj")

close_adj
open_adj
high_adj
high_adj

Do the same but write all of the code in one line (list comprehension).

In [5]:
my_list = ["close", "open", "high", "high"]

In [9]:
new_list = [print(item+"_adj") for item in my_list]

close_adj
open_adj
high_adj
high_adj

### Task 1. 

Write a function which will sum up all values in the list

#### a. For the case when input is list of integers.

In [4]:
my_list_int = [0, 1, 1, 2, 3, 5, 10, 13]

In [2]:
def sum_up(i):
    x=0
    for y in i:
        x+=y
    return(x)

In [7]:
sum_up(my_list_int)
sum(my_list_int)

35

#### b. What will be if the input is list of strings?

In [32]:
my_list_str = ['0', 'a', '1', 'bb', 'ccc', '5', '8', '13']

In [33]:
sum_up(my_list_str)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [ ]:
# change the function in order to avoid error and get the answer: '0a1bbccc5813'

In [35]:
def sum_up_str(i):
    try:
        x=0
        for y in i:
            x+=y
        return(x)
    except TypeError:
        q=""
        for y in i:
            q+=y
        return(q)

In [36]:
sum_up_str(my_list_str)

'0a1bbccc5813'

#### c. Rewrite the function sum_up in the way, that we will get a message 'can not sum it up' if the summation can't be performed

In [40]:
mixed_list = [1, 4, 'd']

In [42]:
def sum_up_except(i):
    try:
        x=0
        for y in i:
            x+=y
        return(x) 
    except TypeError:
        print("can not sum it up")

In [43]:
sum_up_except(mixed_list)

can not sum it up

In [ ]:
# return nothing if the summation can not be performed

In [44]:
def sum_up_except(i):
    try:
        x=0
        for y in i:
            x+=y
        return(x) 
    except TypeError:
        print("")

In [45]:
sum_up_except(mixed_list)

#### d. Why do we need to write the exceptions?

In [46]:
print('Step 1')
print(f'Step 2: {sum_up_except([1, 4, "d"])}')
print('Step 3')

Step 1

Step 2: None
Step 3

In [47]:
print('Step 1')
print(f'Step 2: {sum_up([1, 4, "d"])}')
print('Step 3')

Step 1
can not sum it up
Step 2: None
Step 3

### Task 2.

In this task we will work with the dictionary:

In [69]:
dic_food = {'apple':5, 'orange':4, 'onion':9}

#### a. Calculate how many products in total do we have. How many fruits?

In [76]:
def sum_products(i):
    x=0
    for key,value in i.items():
        x+=value
    return(x)
sum_up([k for k in dic_food.values()][:2])

9

In [54]:
sum_products(dic_food)

18

In [55]:
list_fruits = ['apple', 'orange']

#### b. Add one more apple and change the numbers of onions to 1

In [66]:
dic_food.update({"apple": 6, "onion": 1})

In [67]:
dic_food

{'apple': 6, 'orange': 4, 'onion': 1}

#### c. Make the same dictionary from the lists:

In [56]:
prod_name = ['apple', 'orange', 'onion']
prod_amount = [1,5,5]

In [57]:
#zip() combines the values
new_dict = {name:amount for name,amount in zip(prod_name, prod_amount)}
new_dict

{'apple': 1, 'orange': 5, 'onion': 5}

#### d. What will happened if we have dublicates in the list of keys?

In [58]:
prod_name = ['apple', 'orange', 'onion', 'apple']
prod_amount = [1,5,3,2]

In [59]:
new_dict = {name:amount for name,amount in zip(prod_name, prod_amount)}
new_dict

{'apple': 2, 'orange': 5, 'onion': 3}